.hero-page{

  background-image: url(../../images/home-hero.jpg);
  width: 1220px cover;
  height: 700px;
  background-size: cover; /* or contain depending on what you want */
  background-position: center center;
  background-repeat: no-repeat;
  text-align:center;
  margin:auto;
  padding:0;
  justify-content: center;
  display: flex;
  }
  .tent-logo a {

    text-indent: 100%;
    margin: 0;
    background-size: 50px 33px;

  }

// Product Type Links (Do, Eat, Sleep, Wear)

  .shop-stuff {
    display: inline-flex;
    box-sizing: border box;
    margin-top: 30px;
    justify-content: space-between;
    max-width: inherit;


    }

.shop-stuff-container {
  width: 1120px;
  margin-left:  auto;
  margin-right: auto;

}

.product_icon {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  flex: 0 1 23.5%;
  padding: .75rem;
  max-width: 23.5%;
  border: 1px solid #e1e1e1;
  border-top-width: 5px;
  text-align: center;
}

.product_icon img {
  width: 80px;

}

.product_icon p {
  display: block;
  margin: 1.5rem;
  // text-align: center;
  font-family: 'merriweather', sans-serif;
}


.product_type {
  //  flex: 0 1 23%;
  border: border_solid;
  border-top-width: 5px;
  text-align: center;


}
.product_type &:hover {
  border-color:#d99054;
}
.product_icon img {
  flex: 0 1 23%;
}






.journal-container{
  display: inline-flex;
  justify-content: space-between;
  border-top-width: 5px;
  padding-bottom: 17px;
  padding-left: 10rem;
  padding-right: 10rem;

}
a {
  text-decoration: none;
  color:black;


}
.moretag {
  border:1px solid #000;
  text-transform: uppercase;
  line-height: 1;
  padding: .75rem 1.5rem;
  color: black;



  &:hover  {
  background-color: #248a83;
  color: #000;


}



  }



h2 {
text-align: center;
font-size: 30px;

}

.journal-information {
  border: 1px solid #e1e1e1;
  padding-left: 0;
  margin-left:0;
  padding: 1rem;
  border-top-width: 5px;

}





//Adventure Posts Product Types

.adventure-posts {
  max-width: 1120px;
  margin: 40px auto;

}

.adventure-posts .container {

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  height: 560px;
  margin: 25px auto 50px auto;

}

.adventure-info {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  font-size: 2rem;
  padding: 5%;
  font-family: Merriweather Web,serif;

  .btn {
    border: 2px solid #e1e1e1;
    color: white;
    padding: .70rem 1.5rem;
    line-height: 1;


  }

  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2.5rem;
  }
  h2, h3 {
    margin: 5% 0;
    line-height: 1;
    text-transform: capitalize;
  }

  h3 a, h2 a{
    font-family: $font__main;
    font-weight: normal;
    margin: 0;
    color: white;


    &:hover {
       color:#248a83;

     }
  }
}
 .adventure-info {

}

.outer {
  flex: 0 1 50%;
  height: 100%;
}

.left {
  .inner { //largest square

    height: 100%;
    width: 100%;
    position: relative;
    

    .adventure-image {
      margin: 1%;
      height: 98%;
      width: 98%;
      position: absolute;
      top: 0;
      left: 0;
    }

    h3 a{
      font-size: 1.3em;
    }
  } // end .inner
} // end .left

.right {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-item: space-between;

  .inner {
    height: 50%;
    position: relative;

    &:nth-child(1) { //rectangle
      flex: 0 1 100%;

      .adventure-image {
        margin: 1% 1% 2% 1%;
        height: 97%;
        width: 98%;
        position: absolute;
      }

      h3 a{
        font-size: 0.9em;

      }
    }

    &:nth-child(2), &:nth-child(3) { //small squares
      flex: 0 1 50%;

      .adventure-image {
        margin: 2%;
        height: 96%;
        width: 96%;
        position: absolute;
      }

      h3.adventure-entry a {
        font-size: 0.6em;
        line-height: 1;



      }
    }
  } //end .right .inner
} //end .right

.adventure-posts .button-reverse {

  font-size: 1.2rem;
  border: 1px solid #e1e1e1;
  background-color: #248a83;
  padding: .75rem 1.5rem;
  color:#fff;
  text-transform: uppercase;
  line-height: 1;

}

.adventure-image {
  &:after {
    // @include overlay;
  }
  .wp-post-image {
    width: 100%;
    height: 100%;
    max-width: none;
    overflow: hidden;

  }


}
