.entry-contant {

  margin-bottom: 35px:
}


.site-footer {
 background: url(../../images/dark-wood@2x.png);
 background-size: 512px 512px;
color: $__green;
text-decoration:  none;
 border-color: white;
 min-height: 350px;
 width:100%;
 color: #2f1339;
 position: absolute;

}

.contact-info a {
  font-family: 'mirreweather', sans-serif;
}
