.site-footer {
 background: url(../../images/dark-wood@2x.png);
 // display: inline-flex;
 align-items: center;
 // align-self: center;
 height: auto;
 // flex-direction: column;
 color: white;
 // width:100%;
 }

.site-info{
// display: inline-flex;
font-size: 20px;
font-family: 'mirreweather', sans-serif;
color: white;
justify-content:space-between;
flex-direction: column;
width:100%;
}
&hover p {
  color:white;
}
.block {
  // display: inline;
  flex-direction: column;
  justify-content: space-between;
}
.footer-block h4 {
  color: #rgb(217, 144, 84);
}

.inhabitent-text {
  // justify-content: flex-end;
  font-size: 30px;
  text-align: right;
  padding-top: 50px;

}
.copyright{
text-align: center;
}
