.product_type a{
    background:#248a83;
    // border-radius:;
    border: none;
    color:#fff;
    cursor:pointer;
    font-family: "novecento",sans-serif;
    font-size:1rem;
    font-size: 16px;
    line-height: 1;
    padding:075rem 1.5rem;
    text-decoration: none;
    text-transform:uppercase;
    }
.product_type a:hover{
      background:#19625d;
    }
.product_type p{
      font-family: 'merriweather',sans-serif;
